* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: papayawhip;
    
}

.hero{
    background-image: url(../images/flowers.jpg);
    height: 20vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    color: white;
    font-size: 5vh;
}

.hero {
    font-size: 5vh;
    padding-left: 20px;
}


#hero-pics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 24px 10px;
    padding: 24px;
    img {
        width: 100%;
        border-radius: 12px;
        height: 100%;
        object-fit: cover;
        
    }

}



