* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

#three-column{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 12px 60px 24px
    
}
.together {
    margin: 0px 24px;
}

#sidebar ul {
    list-style-type: none;
    padding: 0px;

}

#main {
    padding: 24px 8px;
}


img {
    width: 500px;
    height: 300px;
    border-radius: 20px;
    border: 0px solid black;
}

#sidebar {
    margin: 24px 0px 0px 24px;
    padding: 0px 24px 0px 24px;
}



#sidebar img {
    width: 200px;
    height: 150px;
    border-radius: 8px;
    border: 0px solid black;
}

.buttons #button1 {
    background-color: blue;
    border: blue solid;
    border-radius: 20px;
    padding: 8px;
    margin: 24px;
    text-align: center;
    color: white;
}

.buttons #button2 {
    background-color: white;
    border: blue solid;
    border-radius: 20px;
    text-align: center;
    padding: 8px;
    margin: 24px;
}

.buttons #button3 {
    background-color: white;
    border: blue solid;
    border-radius: 20px;
    text-align: center;
    padding: 8px;
    margin: 24px;
}

#sidebarcheck .price{
    opacity: .5;
}

#sidebarcheck .discount{
    color: red;
}

#navbar {
    padding: 0px 25px;
    background-color: blueviolet;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    #search {
        margin-left: auto;
    }
} 




.together {
    text-align: center;
}

