@font-face {
    font-family: 'lumina';
    src: url('../fonts/lumina-webfont.woff2') format('woff2'),
         url('../fonts/lumina-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'mermaid';
    src: url('../fonts/mermaid1001-webfont.woff2') format('woff2'),
         url('../fonts/mermaid1001-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
    h1, h2, #logo {
        font-family: "lumina", serif;
    }
}

#navbar {
    background-color: #00870e;
    display: flex;
    align-items: center;
}
#navbar a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding: 0px 24px;
}

.drop-contain {
    position: relative;
}

.drop-contain:hover a {
    background-color: tan;
}

#hero-1 {
    background-image: url(../images/hammy.jpg);
    height: 50vh;
    width: auto;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

#navbar img {
    width: 70px;
    padding-left: 15px;

}

#hero-1 {
    font-size: 45px;
    color: white;
    padding-left: 3vw;
}

#hero-1 a {
    font-size: 1.5vw;
    display: inline-block;
    background-color: #333333;
    color: white;
    text-decoration: none;
    padding: 24px;
    margin: 5vh ;
    display: flex;
    border-radius: 12px;
    border: #00870e;
    
    &:hover {
        background-color: transparent;
        color: #00870e;
        border: #00870e solid;
        transition: 
        background-color 0.5s;
        
    }
    
}



#breaker {
    background-color: #00870e;
    color: white;
    padding-left: 24px;
    padding: 1%;
    font-size: 1.5vw;
    text-align: center;
}

#centered-column {
    width: 90vw;
    max-width: 1440px;
    
    margin: 48px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    justify-content: center;
    .card {
        flex: 1;
    }

}

.card {
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: #00870e;
    color: white;
    height: 100%;
    h2 {
        font-size: 36px;
        
        text-align: center;
    }
    p {
        font-size: 18px;
        text-align: center;
    }
}

.card .btn {
    color: black;
    text-decoration: none;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 10px;
    
    border-radius: 8px;
    transition: 
        background-color 0.5s,
        color 0.5s
    ;
    &:hover {
        background-color: transparent;
       
        color: tan;
    }
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: bottom;
}

#bkcolor {
    background-color: tan;
    width: auto;
}



#title {
    background-color: tan;
    padding: 12px;
    text-align: center;
    font-size: 30px;
}

#photos img {
    width: 100%;
    height: 100%;
    min-height: 0%;
    object-fit: cover;
}

#photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 25px;
    justify-content: center;
    height: 50vh;
   div {
    max-width: 500px;
    margin: 0px auto;
   }
}

#photos a {
    text-decoration: none;
    color: black;
    background-color: #00870e;
    font-size: 20px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        background-color: tan;
        transition: 
        background-color 0.5s;
    }
    
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 70px;
    margin: 12px 8px 70px;
    text-align: center;
}




.cropped-grid-gallery .card-contain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 500px;
    padding: 40px;
    gap: 10px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25px;
        padding: 25px;
    }
}

#card-1:hover {
    box-shadow: 4px 4px 4px grey;
    opacity: 0.5; 
}

#card-1 {
  
    transition: 
        background-color 0.5s,
        box-shadow 0.5s

    ;
}

#card-2:hover {
    box-shadow: 4px 4px 4px grey;
    opacity: 0.5; 
}

#card-2 {
  
    transition: 
        background-color 0.5s,
        box-shadow 0.5s

    ;
}

#card-3:hover {
    box-shadow: 4px 4px 4px grey;
    opacity: 0.5; 
}

#card-3 {
  
    transition: 
        background-color 0.5s,
        box-shadow 0.5s

    ;
}

#card-4:hover {
    box-shadow: 4px 4px 4px grey;
    opacity: 0.5; 
}

#card-4 {
  
    transition: 
        background-color 0.5s,
        box-shadow 0.5s

    ;
}

#card-5:hover {
    box-shadow: 4px 4px 4px grey;
    opacity: 0.5; 
}

#card-5 {
  
    transition: 
        background-color 0.5s,
        box-shadow 0.5s

    ;
}

#card-6:hover {
    box-shadow: 4px 4px 4px grey;
    opacity: 0.5; 
}

#card-6 {
  
    transition: 
        background-color 0.5s,
        box-shadow 0.5s

    ;
}

#card-7:hover {
    box-shadow: 4px 4px 4px grey;
    opacity: 0.5; 
}

#card-7 {
  
    transition: 
        background-color 0.5s,
        box-shadow 0.5s

    ;
}

#card-8:hover {
    box-shadow: 4px 4px 4px grey;
    opacity: 0.5; 
    
}

#card-8 {
  
    transition: 
        background-color 0.5s,
        box-shadow 0.5s

    ;
}

.pic:hover div {
    opacity: 1;

}

.pic div {
    width: 100%;
    height: 100%;
    background-color: #00870e55;
    backdrop-filter: blur(25px);
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 
    opacity 0.5s;
}

#card-1  {
    background-image: url(../images/hambur.jpg);
    background-size: cover;
    background-position: center center;
    border-radius: 12px;

}

#card-2 {
    background-image: url(../images/ribs2.jpg);
    background-size: cover;
    background-position: center center;
    border-radius: 12px;

}

#card-3 {
    background-image: url(../images/empanada2.jpg);
    background-size: cover;
    background-position: center center;
    border-radius: 12px;

}

#card-4 {
    background-image: url(../images/kobesteak.jpg);
    background-size: cover;
    background-position: center center;
    border-radius: 12px;

}

#card-5 {
    background-image: url(../images/pizza.jpg);
    background-size: cover;
    background-position: center center;
    border-radius: 12px;

}

#card-6 {
    background-image: url(../images/enchiladas.jpg);
    background-size: cover;
    background-position: center center;
    border-radius: 12px;

}

#card-7 {
    background-image: url(../images/chickenten.jpg);
    background-size: cover;
    background-position: center center;
    border-radius: 12px;

}

#card-8 {
    background-image: url(../images/speghetti.jpg);
    background-size: cover;
    background-position: center center;
    border-radius: 12px;

}

#copy-right {
    background-color: #00870e;
    color: white;
    padding-left: 12px;
}

@media screen and (max-width: 768px) and (min-width: 481px){
    body {
        background-color: skyblue;
    }
}
