* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
}

#navbar {
    background-color: #00870e;
    display: flex;
    align-items: center;
}
#navbar a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 36px;
    padding: 0px 24px;
}

.drop-contain {
    position: relative;
}

.drop-contain:hover a {
    background-color: tan;
}

#hero-1 {
    background-image: url(../images/hammy.jpg);
    height: 50vh;
    width: auto;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

#navbar img {
    width: 70px;
    padding-left: 15px;

}

#hero-1 {
    font-size: 45px;
    color: white;
    padding-left: 3vw;
}

#hero-1 a {
    font-size: 1.5vw;
    display: inline-block;
    background-color: #333333;
    color: white;
    text-decoration: none;
    padding: 24px;
    margin: 5vh ;
    display: flex;
    border-radius: 12px;
    border: #00870e;
    
    &:hover {
        background-color: transparent;
        color: #00870e;
        border: #00870e solid;
        
    }
    
}



#breaker {
    background-color: #00870e;
    color: white;
    padding-left: 24px;
    padding: 1%;
    font-size: 1.5vw;
    text-align: center;
}

#centered-column {
    width: 90vw;
    max-width: 800px;
    margin: 48px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    justify-content: center;
    .card {
        flex: 1;
    }

}

.card {
    width: 350px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    background: linear-gradient(-50deg, #00870e, #fff7f7, #00870e);


}

.card h2 {
    font-size: 36px;
    margin-top: 12px;
    text-align: center;
}

.card p {
    font-size: 18px;
    text-align: center;
}

.card .btn {
    color: black;
    text-decoration: none;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 10px;
    
    border-radius: 8px;
    transition: 
        background-color 0.5s,
        color 0.5s
    ;
    &:hover {
        background-color: transparent;
       
        color: tan;
    }
}

.card img {
    height: 150px;
    object-fit: cover;
    object-position: bottom;
    
}

#bkcolor {
    background-color: tan;
    width: auto;
}

.simple {
    display: flex;
    padding: 24px;
    img {
        width: 100%;
    }
}

#hero-2 {
    background-image: url(../images/leaves.jpg);
    height: 100vh;
    opacity: 0.5;
    width: auto;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

#title {
    background-color: tan;
    padding: 12px;
    text-align: center;
    font-size: 30px;
}

#photos img {
    width: 400px;
    border-radius: 8px;
    margin-left: 30px;
    margin: 20px;
    
    
}

#photos a {
    text-decoration: none;
    color: black;
    background-color: #00870e;
    border: solid 1px black;
    font-size: 20px;
    border-radius: 12px;
    display: flex;
    margin: 12px;
    
}

.cropped-grid-gallery .card-contain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 250px;
    padding: 20px;
    gap: 10px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25px;
    }
}

#card-1:hover {
    box-shadow: 4px 4px 4px grey;
    opacity: 0.5; 
}

#card-1 {
    transition: 
        background-color 0.5s,
        box-shadow 0.5s

    ;
}


