#hero-1 {
    background-image: url(../images/brandon.jpg);
    background-size: cover;
    background-position: center center;
    height: 50vh;
    color: white;
    
}

#hero-1 {
    padding-left: 24px;
    font-size: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

#hero-1 h1 {
    margin: 0px;
    padding-left: 50px;
    
}

.Him a {
    display: inline-block;
    font-size: 3vh;
    text-decoration: none;
    background-color: white;
    padding: 24px;
    margin: 2vh 2vw 1vh 2px;
}

body {
    margin: 0px;

}

#hero-2 {
    background-image: url(../images/skate.avif);
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

#hero-2 {
    color: goldenrod;
    font-size: 3vh;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#hero-3 {
    background-image: url(../images/basketball.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    
}

#hero-3 {
    color: black;
    
}