* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

#two-column{
    display: flex;
}

#sidebar {
    background-color: #f2c9ec;
    padding: 24px;
    width: 250px;
    border-right: 0.5px solid purple;
}

#sidebar h2 {
    border-bottom: 0.5px soolid purple;
    padding-bottom: 10px;
}

#sidebar ul {
    list-style-type: none;
    padding: 0px;
    a {
        color: #111;
        text-decoration: none;
    }
    li {
        padding: 4px 0px;
    }
}

#main {
    flex: 1;
    padding: 48px;
}