/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Upside-down Tetris assignment.

    Good luck, and have fun!
*/
.tetris-block {
    padding: 20px;
    border-width: 12px;
    border-style: outset;
    display: inline-block;
}

.purple {
    background-color: #845ec2;
    border-color: #845ec2;
}

.blue {
    background-color: #2c73d2;
    border-color: #2c73d2;
}

.lipstick {
    background-color: #d65db1;
    border-color: #d65db1;
}

.peachfruit {
    background-color: #ff9671;
    border-color: #ff9671;
}

.libertyblue {
    background-color: #c4fcef;
    border-color: #c4fcef;
}
.libertyblue {
    background-color: #c4fcef;
    border-color: #c4fcef;
}
.moneygreen {
    background-color: #00b01d;
    border-color: #00b01d;
}
.empty {
    padding: 24px 80px;
    background-color: transparent;
    border-color: transparent;
}
.libertyblue2 {
    padding: 23px ; 
    background-color: #c4fcef;
    border-color: #c4fcef;
}
.empty2{
    padding: 24px 50px;
    background-color: #845ec2;
    border-color: #845ec2;
}
.peachfruit2 {
    padding: 24px 20px 80px;
    background-color: #ff9671;
    border-color: #ff9671;
}
.libertyblue3 {
    padding: 24px 20px 80px;
    background-color: #c4fcef;
    border-color: #c4fcef;
}